{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary" href="{{ path('app_member_index') }}">back to list</a>

    <h1>Create new Member</h1>

    {{ include('member/_form.html.twig') }}
{% endblock %}
