<form method="post" action="{{ path('app_question_delete', {'id': question.id, 'answer': answer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id~answer.id) }}">
    <button class="hover:text-primary">{{ component('Icon', {name: 'icon-trash'}) }}</button>
</form>
