{% extends 'layout.html.twig' %}

{% block top_title %}Nouvelle édition{% endblock %}

{% block buttons %}
    {{ component('Link', {
        icon: {name: 'icon-back'},
        label: 'Retour',
        action: path('app_edition_index'),
        class: 'bg-primary text-white'
    }) }}
{% endblock %}

{% block content %}
<div class="block-container">
        {{ component('EditionForm', {
            form: form,
            edition: edition,

        }) }}
</div>
{% endblock %}
