{% extends 'layout.html.twig' %}

{% block top_title %}Nouvelle édition{% endblock %}

{% block buttons %}
    {{ component('Link', {icon: {name: 'icon-back'}, label: 'Retour', action: path('app_edition_index')}) }}
{% endblock %}

{% block content %}
<div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="p-7">
    {{ include('edition/_form.html.twig') }}
    </div>
</div>
{% endblock %}
