<form method="post" action="{{ path('app_entry_delete', {'id': entity.id}) }}" onsubmit="return confirm('{{ 'message.delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
    <button class="hover:text-primary">{{ component('Icon', {name: 'icon-trash'}) }}</button>
</form>
