<form method="post" action="{{ path('app_entry_delete', {'id': entry.id}) }}" onsubmit="return confirm('{{ 'message.delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entry.id) }}">
    <button class="btn">Delete</button>
</form>
