{% extends 'layout.html.twig' %}

{% block top_title %}{{ group.name }}{% endblock %}

{% block buttons %}
    {{ component('Link', {
        icon: {name: 'icon-back'},
        label: 'label.back'|trans,
        action: path('app_group_index'),
        class: 'bg-primary text-white'
    }) }}
{% endblock %}

{% block content %}
    <div class="block-container">
        {{ component('GroupForm', {
            form: form,
            group: group,
            cancelLink: path('app_group_show', {id: group.id})
        }) }}
    </div>
{% endblock %}
