{% extends 'layout.html.twig' %}

{% block top_title %}{{ group.name }}{% endblock %}

{% block buttons %}
    {{ component('Link', {
        icon: {name: 'icon-back'},
        label: 'Retour',
        action: path('app_group_index'),
        class: 'bg-primary text-white'
    }) }}
{% endblock %}

{% block content %}
    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="p-7">
            {{ component('GroupForm', {
                form: form,
                group: group,

            }) }}
        </div>
    </div>
{% endblock %}
