{% extends "base.html.twig" %}

{% block body %}
    <!-- ===== Page Wrapper Start ===== -->
    <div data-controller="sidebar" class="flex h-screen overflow-hidden">
        {% block sidebar %}
            <!-- ===== Sidebar Start ===== -->
            {% include '_partials/_sidebar.html.twig' %}
            <!-- ===== Sidebar End ===== -->
        {% endblock %}

        <!-- ===== Content Area Start ===== -->
        <div
                class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
        >
            {% block header %}
                <!-- ===== Header Start ===== -->
                {% include '_partials/_header.html.twig' %}
                <!-- ===== Header End ===== -->
            {% endblock %}



            <!-- ===== Main Content Start ===== -->
            <main>
                <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
                    {% block topbar %}
                        <div
                                class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between"
                        >
                            <h2 class="text-title-md2 font-bold text-black dark:text-white flex justify-center gap-x-4">
                                {% block top_title %}{% endblock %}
                            </h2>

                            <div>
                                {% block buttons %}{% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block content %}

                    {% endblock %}
                </div>
            </main>
            <!-- ===== Main Content End ===== -->
        </div>
        <!-- ===== Content Area End ===== -->
    </div>
{% endblock %}
