<button {{ attributes.defaults({class: 'inline-flex items-center gap-2.5 justify-center rounded-md bg-primary px-5 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10'}) }} type="{{ type }}">
    {% if icon is defined and icon.name is defined %}
        {{ component('Icon', icon) }}
    {% endif %}
    <div {% if icon is defined and icon.name is defined %}class="hidden md:block"{% endif %}>
        {{ label }}
    </div>
</button>
