<a href="{{ action }}" {{ attributes.defaults({class: 'btn bg-primary'}) }} >
    {% if icon is defined and icon.name is defined %}
        {{ component('Icon', icon) }}
    {% endif %}
    <div {% if icon is defined and icon.name is defined %}class="hidden md:block"{% endif %}>
        {{ label }}
    </div>
</a>
