{% extends 'layout.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block top_title %}
    {{ user.username }}
{% endblock %}

{% block buttons %}
    {{ component('Link', {
        class: 'bg-primary text-white',
        action: path('app_user_index'),
        label: 'Retour',
        icon: {
            name: 'icon-back'
        }
    }) }}
    {{ component('Link', {
        icon: {name: 'icon-pencil'},
        label: 'Editer',
        action: path('app_user_edit', {id: user.id}),
        class: 'bg-primary text-white'
    }) }}
{% endblock %}

{% block content %}
    <div class="block-container">
        <div class="max-w-full overflow-x-auto">

        </div>
    </div>
{% endblock %}
